@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.profile-card {
  width: 100%;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1.5rem;
  background-color: #f1e1e1;
  border-radius: 6px;
}
@media screen and (min-width: 768px) {
  .profile-card {
    flex-direction: row;
  }
}
.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container img {
  border-radius: 50%;
  margin-bottom: 8px;
  box-shadow: 6px 6px 16px #bfbfbf;
}
.image-container label {
  font-family: Roboto;
  font-style: italic;
  font-size: 14px;
}
.profile-details-container {
  margin-top: 30px;
  width: 100%;
  max-width: 400px;
}
@media screen and (min-width: 768px) {
  .profile-details-container {
    margin-top: 20px;
    margin-left: 2rem;
  }
}
.name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.label-name {
  margin-bottom: 14px;
  font-family: Roboto;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(68, 51, 51);
}
@media screen and (min-width: 768px) {
  .label-name {
    font-size: 18px;
  }
}

.span {
  color: #000;
  font-weight: bold;
}
